In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
cali_house_prices = pd.read_csv("data/california_housing_prices.csv")

cali_house_prices.drop(["longitude", "latitude", "housing_median_age", "total_rooms", "total_bedrooms", "population", "households", "ocean_proximity"], axis=1, inplace=True)
cali_house_prices.rename(columns={
    "median_house_value": "value"
}, inplace=True)

# median_income is initially a factor of the house value, convert median_income to real dollars
cali_house_prices["median_income"] = cali_house_prices["value"]*cali_house_prices["median_income"]

cali_house_prices

       median_income     value
0         3767985.52  452600.0
1         2976051.90  358500.0
2         2555330.54  352100.0
3         1925990.03  341300.0
4         1316169.64  342200.0
...              ...       ...
20635      121859.43   78100.0
20636      197129.28   77100.0
20637      156910.00   92300.0
20638      158151.84   84700.0
20639      213540.84   89400.0

[20640 rows x 2 columns]

In [ ]:
us_re_interest_rates = pd.read_csv("data/us_real_estate_interest_rates.csv")

us_re_interest_rates.drop(["FEDFUNDS", "Owner-Occupied-Home-Proportion", "Year", "Month", "Quarter", "Region", "Home Size", "Number of Households (Thousands)", "Median Income - Current Dollars", "Mean Income - Current Dollars", "Year-Quarter-Month", "Mean Income - 2022 Dollars"], axis=1, inplace=True)
us_re_interest_rates.rename(columns={
    "30-Year-Mortgage-Rate": "mortgage_rate",
    "Consumer-Price-Index": "consumer_price_index",
    "Average Sales Price": "value",
    "Median Income - 2022 Dollars": "median_income"
}, inplace=True)

# reorder columns to match cali_house_prices
us_re_reordering = ["median_income", "value", "mortgage_rate", "consumer_price_index"]
us_re_interest_rates = us_re_interest_rates[us_re_reordering]

us_re_interest_rates

      median_income     value  mortgage_rate  consumer_price_index
0           65640.0   88200.0          4.432               235.288
1           65640.0   51400.0          4.432               235.288
2           65640.0   72000.0          4.432               235.288
3           71620.0   92600.0          4.432               235.288
4           71620.0   48700.0          4.432               235.288
...             ...       ...            ...                   ...
1570        74580.0   80200.0          6.364               298.812
1571        74580.0  122100.0          6.364               298.812
1572        82890.0  162400.0          6.364               298.812
1573        82890.0   77600.0          6.364               298.812
1574        82890.0  134700.0          6.364               298.812

[1575 rows x 4 columns]

In [4]:
us_cens_all = pd.read_csv("data/us_census_all_data.csv")
us_cens_all

,Label (Grouping),United States!!Owner-occupied housing units with a mortgage!!Estimate,United States!!Owner-occupied housing units with a mortgage!!Margin of Error,United States!!Percent owner-occupied housing units with a mortgage!!Estimate,United States!!Percent owner-occupied housing units with a mortgage!!Margin of Error,California!!Owner-occupied housing units with a mortgage!!Estimate,California!!Owner-occupied housing units with a mortgage!!Margin of Error,California!!Percent owner-occupied housing units with a mortgage!!Estimate,California!!Percent owner-occupied housing units with a mortgage!!Margin of Error
0,Owner-occupied housing units with a mortgage,"51,623,068","±161,811","51,623,068","±161,811","5,139,125","±29,543","5,139,125","±29,543"
1,VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Less than $50,000","1,355,175","±20,550",2.6%,±0.1,"84,034","±4,829",1.6%,±0.1
3,"$50,000 to $99,999","1,917,055","±27,072",3.7%,±0.1,"51,589","±3,937",1.0%,±0.1
4,"$100,000 to $299,999","16,150,351","±81,481",31.3%,±0.1,"256,178","±8,690",5.0%,±0.2
...,...,...,...,...,...,...,...,...,...
68,Less than $800,"3,878,248","±32,022",7.5%,±0.1,"133,504","±6,293",2.6%,±0.1
69,"$800 to $1,499","6,183,286","±46,900",12.0%,±0.1,"233,260","±7,311",4.5%,±0.1
70,"$1,500 or more","39,855,324","±121,803",77.2%,±0.1,"4,673,084","±28,398",90.9%,±0.2
71,No real estate taxes paid,"1,706,210","±25,166",3.3%,±0.1,"99,277","±5,002",1.9%,±0.1
72,Median (dollars),"3,424",±9,"3,424",±9,"5,758",±34,"5,758",±34