In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
us_cens_all = pd.read_csv("data/us_census_all_data.csv")
us_cens_all

,Label (Grouping),United States!!Owner-occupied housing units with a mortgage!!Estimate,United States!!Owner-occupied housing units with a mortgage!!Margin of Error,United States!!Percent owner-occupied housing units with a mortgage!!Estimate,United States!!Percent owner-occupied housing units with a mortgage!!Margin of Error,California!!Owner-occupied housing units with a mortgage!!Estimate,California!!Owner-occupied housing units with a mortgage!!Margin of Error,California!!Percent owner-occupied housing units with a mortgage!!Estimate,California!!Percent owner-occupied housing units with a mortgage!!Margin of Error
0,Owner-occupied housing units with a mortgage,"51,623,068","±161,811","51,623,068","±161,811","5,139,125","±29,543","5,139,125","±29,543"
1,VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Less than $50,000","1,355,175","±20,550",2.6%,±0.1,"84,034","±4,829",1.6%,±0.1
3,"$50,000 to $99,999","1,917,055","±27,072",3.7%,±0.1,"51,589","±3,937",1.0%,±0.1
4,"$100,000 to $299,999","16,150,351","±81,481",31.3%,±0.1,"256,178","±8,690",5.0%,±0.2
...,...,...,...,...,...,...,...,...,...
68,Less than $800,"3,878,248","±32,022",7.5%,±0.1,"133,504","±6,293",2.6%,±0.1
69,"$800 to $1,499","6,183,286","±46,900",12.0%,±0.1,"233,260","±7,311",4.5%,±0.1
70,"$1,500 or more","39,855,324","±121,803",77.2%,±0.1,"4,673,084","±28,398",90.9%,±0.2
71,No real estate taxes paid,"1,706,210","±25,166",3.3%,±0.1,"99,277","±5,002",1.9%,±0.1
72,Median (dollars),"3,424",±9,"3,424",±9,"5,758",±34,"5,758",±34

In [4]:
cali_house_prices = pd.read_csv("data/california_housing_prices.csv")
cali_house_prices

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
us_re_interest_rates = pd.read_csv("data/us_real_estate_interest_rates.csv")
us_re_interest_rates

,FEDFUNDS,Owner-Occupied-Home-Proportion,30-Year-Mortgage-Rate,Consumer-Price-Index,Year,Month,Quarter,Region,Home Size,Average Sales Price,Number of Households (Thousands),Median Income - Current Dollars,Median Income - 2022 Dollars,Mean Income - Current Dollars,Mean Income - 2022 Dollars,Year-Quarter-Month
0,0.07,64.9,4.432,235.288,2014,January,Q1,Midwest,Double,88200.0,27460.0,54270.0,65640.0,73480.0,88890.0,2014-Q1-January
1,0.07,64.9,4.432,235.288,2014,January,Q1,Midwest,Single,51400.0,27460.0,54270.0,65640.0,73480.0,88890.0,2014-Q1-January
2,0.07,64.9,4.432,235.288,2014,January,Q1,Midwest,Total1,72000.0,27460.0,54270.0,65640.0,73480.0,88890.0,2014-Q1-January
3,0.07,64.9,4.432,235.288,2014,January,Q1,Northeast,Double,92600.0,22180.0,59210.0,71620.0,83720.0,101300.0,2014-Q1-January
4,0.07,64.9,4.432,235.288,2014,January,Q1,Northeast,Single,48700.0,22180.0,59210.0,71620.0,83720.0,101300.0,2014-Q1-January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1570,4.10,65.9,6.364,298.812,2022,December,Q4,United States,Single,80200.0,131400.0,74580.0,74580.0,106400.0,106400.0,2022-Q4-December
1571,4.10,65.9,6.364,298.812,2022,December,Q4,United States,Total1,122100.0,131400.0,74580.0,74580.0,106400.0,106400.0,2022-Q4-December
1572,4.10,65.9,6.364,298.812,2022,December,Q4,West,Double,162400.0,29440.0,82890.0,82890.0,117500.0,117500.0,2022-Q4-December
1573,4.10,65.9,6.364,298.812,2022,December,Q4,West,Single,77600.0,29440.0,82890.0,82890.0,117500.0,117500.0,2022-Q4-December
1574,4.10,65.9,6.364,298.812,2022,December,Q4,West,Total1,134700.0,29440.0,82890.0,82890.0,117500.0,117500.0,2022-Q4-December